BasedOnStyle: Google
IndentWidth: 2
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Left
AlignOperands: true
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: MultiLine
BinPackParameters: false
BreakBeforeBraces: Allman
BreakInheritanceList: AfterColon
ColumnLimit: 90
Cpp11BracedListStyle: true
ExperimentalAutoDetectBinPacking: true
IncludeBlocks: Regroup
Language: Cpp   
NamespaceIndentation: All
SortIncludes: true
SortUsingDeclarations: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInParentheses: false
Standard: Auto
ContinuationIndentWidth: 2
ConstructorInitializerIndentWidth: 2
