/.vs
/Debug
/x64
/Release
/ThirdParty
/packages
*/x64
*/pch.cpp
*/glad.c
*/glad.h
*.code-workspace
*.filters
*.user
*.recipe
*.log
*.tlog
*.lastbuildstate
*.obj
*.idb
*.pdb
*.lib
*.dll
/Tests/GeometryCoreTest/x64/Debug
